* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #f5f7fb;
    font-family: "Karla", sans-serif;
    color: #293264;
    overflow: hidden;
}

.start-page {
    display: flex;
    flex-direction: column;
    margin: 25vh auto;
    align-items: center;
    overflow: hidden;
}

.start-page h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.start-page h4 {
    font-weight: 400;
}

.start-page button {
    color: #f5f7fb;
    background: #293264;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 15px;
    cursor: pointer;
}

.bottom-cloud {
    font-size: 10rem;
    position: absolute;
    color: #deebf8;
    opacity: 0.8;
    bottom: -10vh;
    left: -15vh;
    transform: rotate(60deg);
    z-index: -1;
    overflow: hidden;
    z-index: -1;
}

.right-cloud {
    font-size: 10rem;
    position: absolute;
    color: #fffad1;
    opacity: 0.8;
    top: -10vh;
    right: -10vh;
    transform: rotate(-130deg);
    overflow: hidden;
    z-index: -1;
}

.quiz-container {
    padding: 2.4em 4.1em;
    font-size: 1rem;
}

.quiz--question {
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.quiz--answers {
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    margin: 0;
    margin-top: 0.75em;
}

.quiz--answer {
    border: solid 1px #293264;
    border-radius: 8px;
    padding: 0.2em 0.6em;
    margin-right: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

.checker {
    border: none;
    color: #f5f7fb;
    background: #4d5b9e;
    padding: 0.7em 1.2em;
    border-radius: 10px;
}

.results {
    display: flex;
    justify-content: center;
    margin-top: 1.1em;
}

.results--shown {
    display: flex;
}

.results--shown p {
    margin-right: 1em;
}
